<div class="my-submissions">
<div class="content">
  <br />
<div class="col-sm-12">
  <h1 style="margin: 25px auto; font-weight:300; color:#777;">My Solution Files</h1>
  <div id="submit-success"></div>
  <table class="table table-hover" id="item-table">
    <tr>
      <td><h4 style="color:#000; text-decoration: underline">Pass/Fail</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Challenge Name</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Date Submitted</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Download</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Resubmit</h4></td>
      <td><h4 style="color:#000; text-decoration: underline">Delete</h4></td>
    </tr>
    <tbody>
{{#each submissions}}
  <tr>
      <td id="grade" style="padding-top: 2%">
        <span style="color:green" class="glyphicon glyphicon-thumbs-up"></span>
      </td>
      <td><h4>{{challengeName}}</h4></td>
      <td><h4>{{createdAt}}</h4></td>
      <td style="padding-top: 2%">
        <a href={{location}} target="_blank"><span style="color:black" class="glyphicon glyphicon-download-alt"></span></a>
      </td>
      <td id="resubmit" style="padding-top: 2%" data-id={{_id}}>
        <span style="color:black" class="glyphicon glyphicon-share"></span>
      </td>
      <td id="delete-submission" data-id={{_id}} style="padding-top: 2%">
        <span style="color:black" class="glyphicon glyphicon-trash"></span>
      </td>
  </tr>
  {{/each}}

</tbody>
  </table>
</div>
</div>
</div>
