<div id="my-or-all-challenges-info" class="content">
    <br />
    <table id="my-or-all-challenges-table" class="table table-striped table-bordered table-hover table-responsive table-condensed assists-data col-xs-12">
      <tr>
        <th class="content-cell content-header col-xs-3" data-id={{id}}>Challenge</th>
        <th class="content-cell content-header col-xs-2" data-id={{id}}>Language</th>
        <th class="content-cell content-header col-xs-4" data-id={{id}}>Description</th>
        <th class="content-cell content-header col-xs-1" data-id={{id}}>Select</th>
        <th class="content-cell content-header col-xs-1" data-id={{id}}>Submissions</th>
        <th class="content-cell content-header col-xs-1" data-id={{id}}>Delete</th>
      </tr>
      {{#each challenges}}
        <tr>
          <td class="standings-cell standings-row col-xs-3" data-id={{id}}>{{name}}</td>
          <td class="standings-cell standings-row col-xs-2" data-id={{id}}>{{language}}</td>
          <td class="standings-cell standings-row col-xs-4" data-id={{id}}>{{description}}</td>
          <td class="standings-cell standings-row col-xs-1" data-id={{id}} style="padding-top: 20%; color:#000">
            <span style="color:black" class="glyphicon glyphicon-new-window select-challenge"></span>
          </td>
          <td class="standings-cell standings-row col-xs-1" data-id={{id}}>Coming Soon</td>
          <td class="standings-cell standings-row col-xs-1">
            <button class="btn btn-default assist-delete-button admin-only" data-id={{id}}>Coming Soon</button>
          </td>
        </tr>
      {{/each}}
    </table>
</div>
