<div class="content">
  <div class="my-challenges">
    <br />

    <table id="my-challenge-info" class="table table-striped table-bordered table-hover table-responsive table-condensed assists-data col-xs-12">
      <tr>
        <th class="content-cell content-header col-xs-5" data-id={{id}}>Name</th>
        <th class="content-cell content-header col-xs-5" data-id={{id}}>Challenge</th>
        <th class="content-cell content-header col-xs-1" data-id={{id}}>Pass</th>
        <th class="content-cell content-header col-xs-1" data-id={{id}}>Delete</th>
      </tr>
      {{#each submissions}}
        <tr>
          <td class="standings-cell standings-row col-xs-5" data-id={{id}}>{{submission.name}}</td>
          <td class="standings-cell standings-row col-xs-5" data-id={{id}}>{{submission.challenge}}</td>
          <td class="standings-cell standings-row col-xs-1" data-id={{id}}>{{submission.pass}}</td>
          <td class="standings-cell standings-row col-xs-1">
            <button class="btn btn-default assist-delete-button admin-only" data-id={{id}}>Coming Soon</button>
          </td>
        </tr>
      {{/each}}
    </table>

  </div>
</div>
